.main{
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-image: url('../../background.jpg');
    background-position: center;
    background-size: cover;
}

.title{
    font-size: 60px;
    color: rgb(12, 168, 196);
    text-align: right;
}

.subtitle{
    font-size: 30px;
    padding-top: 10px;
    color: rgb(226, 130, 194);


}

.intro-text{
    width: 100%;
    text-align: right;
}

.buttonContainer{
    margin-top: 50px;
    display: flex;
    justify-content:flex-end;
    
    
}

.landingbutton{
    width: 200px;
    height: 55px;
    margin: 0 -100px 0 120px;
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
  
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .landingbutton {
    width: 100px;
    height: 50px;
  }
}
